@model List<Bayanihand.App.Models.ServiceVM>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">

<a asp-controller="Home" asp-action="Manage" class="btn btn-primary">
    <i class="fas fa-caret-square-left"></i>
    Back to Home Page
</a>

<a asp-controller="Service" asp-action="Add" class="btn btn-warning">
    <i class="fas fa-plus"></i>
    Add Service
</a>

@if (Model.Count() < 1)
{
    <div class="alert alert-info">
        No Service Records Found...
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Service</th>
                <th>Description</th>
                <th>Available</th>
                <th>Wage Rate/hr</th>
                <th>Service Charge/hr</th>
                <th>Material Cost</th>
                <th>Total Price/hr</th>
                <th>Payment Option</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceName</td>
                    <td>@item.Description</td>
                    <td>@(item.Available ? "Yes" : "No")</td>
                    <td>PHP @item.WageRate.ToString("F2")</td>
                    <td>PHP @item.ServiceCharge.ToString("F2")</td>
                    <td>PHP @item.MaterialCost.ToString("F2")</td>
                    <td>PHP @item.TotalPrice.ToString("F2")</td>
                    <td>@item.PaymentOption</td>
                    <td>
                        <div>
                            <p>Price: PHP <h2>@item.TotalPrice.ToString("F2")</h2></p>
                        </div>

                        <div>
                            <a asp-controller="Service" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-info btn-sm">
                                <i class="fas fa-edit"></i>
                                Edit
                            </a>
                            <button class="btn btn-danger btn-sm deleteBtn" data-id="@item.Id">
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form id="DeleteForm" asp-controller="Service" asp-action="Delete" method="post">
    <input type="hidden" id="HiddenServiceId" name="Id" value="" />
</form>

@section Scripts {
    <script>
        $('.deleteBtn').click(function (e) {
            e.preventDefault();

            var btn = $(this);
            var id = btn.data("id");

            Swal.fire({
                title: "Are you sure?",
                text: "Are you sure you want to delete this service?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#HiddenServiceId").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}
