@model List<InquiryVM>

<h3>Customer Follow Ups</h3>
<hr />

<div class="alert alert-info">
    @Model.Count result(s) found
</div>
<br />

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Inquiry I.D.</th>
            <th>Date Inquired</th>
            <th>Title</th>
            <th>Customer I.D.</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InquiryVM item in Model)
        {
            <tr>
                <td>@item.InquiryID</td>
                <td>@item.DateInquired</td>
                <td>@item.Title</td>
                <td></td>
                <td>@item.Description</td>
                <td>
                    <button type="submit"
                            class="btn btn-outline-danger btnDelete"
                            data-id="@item.InquiryID">
                        <i class="fas fa-remove"></i>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="DeleteForm" asp-controller="Admin" asp-action="Delete" method="post">
    <input type="hidden" id="FollowUpID" name="Id" value="" />
</form>

@section Scripts {
    <script>
        $('.btnDelete').click(function (e) {
            var btn = $(this);
            var id = btn.data("id");

            Swal.fire({
                title: "Are you sure?",
                text: "Are you sure you want to delete this record?",
                icon: "warning",
                showCancelButton: true,
                cancelButtonColor: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#FollowUpID").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}