@model List<InquiryVM>

<span style="color: #FF911F">
    <h3>
        <b>
            <i class="fas fa-tools"></i>
            Handyman Follow Ups
        </b>
    </h3>
</span>
<hr />

<div class="container">
    <div class="row mb-3 align-items-center">
        <div class="col">
        </div>
        <div class="col text-center">
            <div class="alert alert-info mb-0 w-100 text-center">
                @Model.Count result(s) found
            </div>
            <div class="col text-end">
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Inquiry I.D.</th>
            <th>Date Inquired</th>
            <th>Title</th>
            <th>Handyman I.D.</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InquiryVM item in Model)
        {
            <tr>
                <td>@item.InquiryID</td>
                <td>@item.DateInquired</td>
                <td>@item.Title</td>
                <td></td>
                <td>@item.Description</td>
                <td>
                    <button type="submit"
                            class="btn btn-outline-danger btn-sm btnDelete"
                            data-id="@item.InquiryID">
                        <i class="fas fa-remove"></i>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="DeleteForm" asp-controller="Admin" asp-action="Delete" method="post">
    <input type="hidden" id="FollowUpID" name="Id" value="" />
</form>

@section Scripts {
    <script>
        $('.btnDelete').click(function (e) {
            var btn = $(this);
            var id = btn.data("id");

            Swal.fire({
                title: "Are you sure?",
                text: "Are you sure you want to delete this record?",
                icon: "warning",
                showCancelButton: true,
                cancelButtonColor: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#FollowUpID").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}